@media print {
  .hero,
  #uploadForm {
    display: none !important;
  }
  @page {
    size: A4 portrait;
    margin: 0mm;
  }
  #conteudo {
    display: flex;
    gap: 0mm;
    font-family: "Outfit", sans-serif;
    margin: 0mm;
    width: 100%;
    max-width: 210mm;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  .labelA6 {
    width: 105mm;
    height: 148mm;
    min-height: 148mm;
    border: 1px solid rgb(209, 209, 209, 0.5);
    padding: 16mm 10mm 34mm 10mm;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: column;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
    margin: 0;
  }
  .labelA9 {
    width: 60mm;
    height: 37mm;
    min-height: 37mm;
    min-width: 60mm;
    border: 1px solid rgb(209, 209, 209, 0.5);
    padding: 3mm;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: column;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  .labelA6:nth-child(4n) {
   /* page-break-after: always; */
  }
}

@page {
  margin: 0 !important;
}
