#dataContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5mm;
  font-family: "Outfit", sans-serif;
  margin: 3vw 0;
  max-width: 95vw;
}
.print-page {
  width: 105mm;
  height: 148mm;
  min-height: 148mm;
  border: 1px solid rgb(209, 209, 209);
  padding: 25mm 6mm;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  position: relative;
  gap: 5mm;
  /*! gap: 0; */
}
.labelA6 {
  padding: 0;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 10mm 5mm;
  flex-flow: column;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
  font-family: "Outfit", sans-serif;
  height: min-content;
  gap: 0 4mm;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.labelA6 .skuID {
  font-size: 3mm;
  grid-row: 2 / 3;
}
.labelA6 .prod {
  font-size: 4.5mm;
  line-height: 5mm;
  overflow: hidden;
  max-height: 10mm;
  text-transform: uppercase;
  text-wrap: balance;
}
.labelA6 .cshbck,
.labelA6 .dezoff,
.labelA6 .cat,
.parcel {
  display: none;
}
.labelA6 .valor {
  display: flex;
  flex-flow: column;
  text-align: right;
  grid-row: span 2;
}
.labelA6 .preco_full {
  font-size: 5mm;
  margin: 0;
  font-weight: 300;
  text-decoration: line-through;
  line-height: 1;
  opacity: 0.5;
}
.labelA6 .preco_full::before {
  content: "R$ \0020";
  margin-right: 0px;
  font-size: 4mm;
  font-weight: 300;
}
.labelA6 .preco {
  font-size: 6mm;
  margin: 0 0 3mm 0;
  line-height: 1;
}
.labelA6 .preco::before {
  content: "R$";
  margin-right: 5px;
  font-size: 5mm;
  font-weight: 300;
}
div.print-page > .labelA6:first-child::before {
  content: "A beleza de se sentir em casa";
  display: block;
  position: absolute;
  top: -14mm;
  font-size: 5mm;
  font-weight: 500;
}
div.print-page > .labelA6:last-child::after {
  content: "+ 20% de cashback \A site | loja | whats | app";
  display: block;
  position: absolute;
  bottom: -16mm;
  font-size: 4mm;
  white-space: pre-wrap;
   font-weight: 500;
}
@media screen {
}
@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  /* Sugerir ao navegador que use a menor margem possível */
  @page {
    margin: 0 !important;
    size: auto; /* pode tentar definir um tamanho específico se necessário */
  }
  /* Oculta elementos desnecessários para impressão */
  .form,
  .header,
  .geradorForm {
    display: none;
  }
  #dataContainer {
    margin: 0;
    gap: 0;
  }

  /* Define a classe .print-page para controlar a quebra de página */
  .print-page {
    display: grid;
    width: 105mm;
    height: 148mm;
    min-height: 148mm;
    page-break-after: always;
    break-after: page;
  }
  .labelA6 {
    break-after: auto; /* Permite a quebra de página, mas não força */
    counter-increment: labelCounter; /* Incrementa um contador */
  }
  /* Para cada .labelA6 que é múltiplo de 2, force uma quebra de página após */
  .labelA6 {
    break-inside: avoid; /* Evita quebra dentro do .labelA6 */
    page-break-inside: avoid; /* Outra forma de evitar quebra dentro do .labelA6 para navegadores mais antigos */
  }
}


