#dataContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5mm;
  font-family: "Outfit", sans-serif;
  margin: 3vw auto;
  max-width: 95vw;
}
.labelA6 {
  width: 105mm;
  height: 148mm;
  min-height: 148mm;
  border: 1px solid rgb(209, 209, 209);
  padding: 16mm 10mm 34mm 10mm;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
  font-family: "Outfit", sans-serif;
}

.labelA6 .skuID {
  position: absolute;
  bottom: 10mm;
  right: 10mm;
  font-size: 4mm;
}

.labelA6 .prod {
  font-size: 6mm;
  line-height: 7.8mm;
  margin-bottom: 10mm;
  overflow: hidden;
  max-height: 23.4mm;
  text-transform: uppercase;
  text-wrap: balance;
}
.labelA6 .valor {
  margin-top: auto;
}
.labelA6 .preco_full {
  font-size: 8mm;
  text-decoration: line-through;
  opacity: 0.5;
  margin: auto 0 0 0;
}
.labelA6 .preco_full::before {
  content: "R$ \0020";
  font-weight: 300;
  font-size: 8mm;
}
.labelA6 .preco {
  font-size: 12mm;
  margin: 0;
}
.labelA6 .preco::before {
  content: "R$";
  margin-right: 5px;
  font-size: 9mm;
  font-weight: 300;
}
.labelA6 .cshbck,
.labelA6 .dezoff {
  position: absolute;
  bottom: 10mm;
  left: 10mm;
}
.labelA6 .cat {
  height: 10mm;
  min-width: 10mm;
  width: min-content;
  line-height: 10mm;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
  text-transform: lowercase;
  font-size: 0;
  height: 10mm;
  display: flex;
  gap: 2mm;
}
.labelA6 .cat::before {
  content: " ";
  height: 10mm;
  width: 10mm;
  display: block;
}
.labelA6 .cat::after {
  height: 10mm;
  min-width: 10mm;
  width: max-content;
  display: block;
  line-height: 10mm;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
  font-size: 5mm !important;
}
.decorar::before {
  background: url("https://img.camicado.com.br/banner/etiquetas/decor.svg")
    no-repeat center center;
  background-size: cover;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.decorar::after {
  content: "decorar";
}
.organizar::before {
  background: url("https://img.camicado.com.br/banner/etiquetas/organizar.svg")
    no-repeat center center;
  background-size: cover;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.organizar::after {
  content: "organizar";
}
.camaba::before {
  background: url("https://img.camicado.com.br/banner/etiquetas/camaba.svg")
    no-repeat center center;
  background-size: cover;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.camaba::after {
  content: "camaba";
}
.cozinhar::before {
  background: url("https://img.camicado.com.br/banner/etiquetas/cozinhar.svg")
    no-repeat center center;
  background-size: cover;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.cozinhar::after {
  content: "cozinhar";
}
.servir::before,
.mesaposta::before {
  background: url("https://img.camicado.com.br/banner/etiquetas/mesaposta.svg")
    no-repeat center center;
  background-size: cover;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.mesaposta::after,
.servir::after {
  content: "mesa posta";
}
.eletro::before {
  background: url("https://img.camicado.com.br/banner/etiquetas/eletro.svg")
    no-repeat center center;
  background-size: cover;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.eletro::after {
  content: "eletro";
}
.beber::before,
.bar::before {
  background: url("https://img.camicado.com.br/banner/etiquetas/bar.svg")
    no-repeat center center;
  background-size: cover;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.beber::after,
.bar::after {
  content: "bar";
}
.pet::before {
  background: url("https://img.camicado.com.br/banner/etiquetas/pet.svg")
    no-repeat center center;
  background-size: cover;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.pet::after {
  content: "pet";
}

@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  /* Sugerir ao navegador que use a menor margem possível */
  @page {
    margin: 0 !important;
    size: auto; /* pode tentar definir um tamanho específico se necessário */
  }
  /* Oculta elementos desnecessários para impressão */
  .form,
  .header {
    display: none;
  }
  #dataContainer {
    margin: 0;
    gap: 0;
  }

  /* Define a classe .print-page para controlar a quebra de página */
  .print-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    height: 296mm;
    width: 210mm;
    page-break-after: always; /* Força quebra de página após o contêiner */
    break-after: page; /* Alternativa para navegadores modernos */
  }
  .labelA6 {
    break-after: auto; /* Permite a quebra de página, mas não força */
    counter-increment: labelCounter; /* Incrementa um contador */
  }
  .labelA6:nth-of-type(1n),
  .labelA6:nth-of-type(2n) {
    border-top: 0px;
    border-bottom: 1px solid black;
  }
  .labelA6:nth-of-type(3n),
  .labelA6:nth-of-type(4n) {
    border-top: 0px;
  }
  /* Para cada .labelA6 que é múltiplo de 2, force uma quebra de página após */
  .labelA6:nth-of-type(4n) {
    break-after: page; /* Força uma quebra de página após cada dois .labelA6 */
  }
  .labelA6 {
    break-inside: avoid; /* Evita quebra dentro do .labelA6 */
    page-break-inside: avoid; /* Outra forma de evitar quebra dentro do .labelA6 para navegadores mais antigos */
  }
}
