/* Estilo básico para os containers de linha e coluna */
#dataContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5mm;
  font-family: "Outfit", sans-serif;
  margin: 3vw auto 3vw 0;
  max-width: 95vw;
}
.labelA6 {
  width: 80mm;
  height: 240mm;
  min-height: 240mm;
  border: 1px solid rgb(209, 209, 209);
  padding: 16mm 10mm;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
  font-family: "Outfit", sans-serif;
}

.labelA6 .skuID {
  font-size: 3.5mm;
  font-weight: 300;
}

.labelA6 .prod {
  font-size: 7mm;
  line-height: 8.2mm;
  overflow: hidden;
  max-height: 32.8mm;
  text-transform: none;
  text-wrap: balance;
  font-weight: 500;
}
.labelA6 .valor {
}
.labelA6 .preco_full {
  font-size: 9mm;
  opacity: 1;
  margin: 15mm 0;
  text-align: center;
  background: #0f0f0f;
  color: white;
  border-radius: 999px;
  padding: 2mm 0;
}
.labelA6 .preco_full span {
  font-weight: 300;
  font-size: 6mm;
}
.labelA6 .preco_full::before {
  content: "R$ \0020";
  font-weight: 300;
  font-size: 6mm;
}
.labelA6 .brand {
  font-size: 4mm;
  margin-bottom: 5mm;
}
.labelA6 .brand::before {
  content: "Marca: ";
}
.labelA6 .material {
  font-size: 4mm;
  text-transform: capitalize;
  margin-bottom: 2mm;
}
.labelA6 .material::before {
  content: "Material: \A • ";
  white-space: pre-wrap;
}
.labelA6 .origem {
  font-size: 4mm;
  text-transform: capitalize;
  margin-bottom: 2mm;
}
.labelA6 .origem::before {
  content: "Origem: \A • ";
  white-space: pre-wrap;
}
.labelA6 .cores {
  font-size: 4mm;
  text-transform: capitalize;
  margin-bottom: 2mm;
}
.labelA6 .cores::before {
  content: "Cores: \A • ";
  white-space: pre-wrap;
}
.qrcode {
  margin-top: auto;
  text-align: center;
}
.qrcode canvas {
  width: 35mm !important;
  height: 35mm !important;
}
.qrcode::after {
  content: "loja | site | app | whats";
  display: block;
  font-size: 3.5mm;
}
@media screen {
  .print-page {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
  }
}
@media print {
  /* Remover margens padrão e preencher toda a página */
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  /* Definir o tamanho e margens da página */
  @page {
    size: A4 portrait;
    margin: 0mm; /* Use margem zero para ocupar toda a página */
  }

  /* Ocultar elementos que não devem ser impressos */
  .form,
  .header,
  .geradorForm {
    display: none;
  }

  /* Ajustar o contêiner principal para impressão */
  #dataContainer {
    margin: 0;
    gap: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Configurar cada página de impressão */
  .print-page {
    page-break-after: always; /* Garante que cada .print-page comece em uma nova folha */
    break-after: page;
    height: 297mm; /* Altura padrão para A4 */
    width: 210mm; /* Largura padrão para A4 */
    break-inside: avoid; /* Evita quebras dentro do elemento */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .labelA6 {
    break-inside: avoid; /* Evita quebras dentro de cada .labelA6 */
    page-break-inside: avoid;
  }
}
