.version_3p::before,
.version::before {
  content: "0.37 - 240312";
  display: block;
  margin-top: 10px;
}
.version::after {
  content: "Planilha atualizada: 27.03.24";
  display: block;
}
.version_3p::after {
  content: "Planilha atualizada: 20.03.24";
  display: block;
}
