.version_3p::before,
.version::before {
  content: "0.37 - 240312";
  display: block;
  margin-top: 20px;
}
.version::after {
  content: "Planilha atualizada: 17.04.24";
  display: block;
}
.version_3p::after {
  content: "Planilha atualizada: 18.04.24";
  display: block;
}
